<div class="col-md-3 column productbox">

  <% path = logged_admin? ? admin_product_path(product) : product %>
  <%= link_to path do %>
    <%= image_tag product.picture, class: "img-responsive" %>
    <div class="producttitle"><%= product.name %></div>
  <% end %>
  <div class="productprice">
    <div class="pull-right">
      <% if logged_admin? %>
        <%= link_to t("delete"), admin_product_path(product),
          method: :delete, data: {confirm: t("you_sure")},
          class: "btn btn-danger btn-sm"
        %>
      <% else %>
        <%= link_to t("details"), product_path(product), class: "btn btn-danger btn-sm" %>
      <% end %>
    </div>
    <div class="pricetext"><%= number_to_currency product.price %></div>
  </div>
</div>
