<tr>
  <td class="col-sm-8 col-md-3">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><%= link_to order.id, order %></h4>
      </div>
    </div>
  </td>
  <td class="col-sm-1 col-md-3 text-center" >
    <span class="text-success"><strong><%= order.status %></strong></span>
  </td>
  <td class="col-sm-1 col-md-3 text-center" >
    <%= order.receiver_name %>
  </td>
  <td class="col-sm-1 col-md-3 text-center"><strong><%= order.delivery_address %></strong></td>
  <td class="col-sm-1 col-md-3 text-center"><strong><%= order.receiver_phone_number %></strong></td>
  <td></td>
  <td></td>
</tr>
